<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>To Do list</title>
    </head>
    <body><center>
        <h1>Categories</h1>

        <p>Add a frikkin category.  Bro.</p>

        {% if categories is not empty %}
            <p>Here are all your categories:</p>
            <ul>
                {% for category in categories %}
                    <p><a href="/categories/{{ category.getId }}">{{ category.getName }}</a></p>
                {% endfor %}
            </ul>
            {% else %}
                <p>There ain't none.</p>
        {% endif %}


        <form action='/categories' method='post'>
            <label for='name'>Cateegory!</label>
            <input id='name' name='name' type='text'>

            <button type='submit' class='btn btn-success btn-xs'>Addegory!</button>

        </form>
        <form action='/delete_cat' method='post'>
            <button type='submit' class="btn btn-danger">>delete</button>
        </form>
        <p><a href='/'>Home</a></p>

    </center></body>
</html>
