<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>To Do list</title>
    </head>
    <body><center>
        <h1> {{ category.getName }} </h1>

            {% if tasks is not empty %}
                <ul>
                    {% for task in tasks %}
                        <p>{{ task.getDescription }}</p>
                    {% endfor %}
                </ul>
            {% endif %}

            <form action='/tasks' method='post'>
                <input id='category_id' name='category_id' type='hidden' value='{{ category.getId() }}'>
                <label for='description'></label>
                <input id='description' name='description' type='text'>

                <button type='submit'>Add dat task</button>
            </form>
            <form action='/delete_task' method='post'>
                <button type='submit'>Delete Task</button>
            </form>
            <p><a href='/'>Home</a></p>

    </center></body>
</html>
