<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>DELETED EVERYTHING SET IT ON FIRE</title>
    </head>
    <body>
        <center>
            <h1><a href="/categories"><button type="button" class="btn btn-danger">CATEGORIES: YOU DELETED YOUR ENTIRE EXISTENCE!!!!!!!!!!!!!!!!!!!!!!!
                            </button>
                </a>

            </h1>
            <h1><a href="/tasks"><button type="button" class="btn btn-danger">TASKS: YOU DELETED YOUR ENTIRE PURPOSE!!!!!!!!!!!!!!!!!!!!!!!
                            </button>
                </a>
            </h>

            <h3><a href="/"><button type="button" class="btn btn-danger">GGOOOOOO HOOOOOMMMEEE!!!!!!!!!!!!!!!!!!!!!
                            </button>
                </a>
            </h3>
    </body>
</html>
