<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>To Do List</title>
    </head>
    <body>
        <center>
        <h1>To Do</h1>
        <h5>Create a new category</h5>


        {% if categories is not empty %}
                {% for category in categories %}
                    <p><a href="/categories/{{ category.getId }}">{{ category.getName }}</a></p>
                {% endfor %}
            {% else %}
        {% endif %}


        <a href='/categories'><button type='submit' class='btn btn-danger btn-sm'>Categories</button></a>

        <h5> Create a Task List for your Categories </h5>
            <a href='/tasks'><button type='submit' class='btn btn-warning btn-sm'>Tasks</button></a>

        </center>
    </body>
</html>
