<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>To Do List</title>
    </head>
    <body><center>
        <h1>To Do List Bro</h1>

        

        <h5>here are all your <a href="/categories"><button type='submit' class="btn btn-success btn-xs">Categories</button></a> and you can add categories as well.</h5>
        <h5>here are all of the <a href="/tasks"><button type='submit' class="btn btn-warning btn-xs" a href="/tasks"/>Tasks</button></a> and you can also add tasks.</h5>

    </center></body>
</html>
