<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <title>To Do List</title>
    </head>
    <body><center>
        <h1>To Do List</h1>

        {% if tasks is not empty %}

            <p>Here are all your tasks</p>
            <ul>
                {% for task in tasks %}
                    <p><a href='/tasks/{{ task.getId }}'>{{ task.getDescription }}</a></p>
                {% endfor %}
            </ul>
        {% endif %}

        <form action='/tasks' method='post'>
            <label for='description'>Tasks</label>
            <input id='description' name='description' type='text'>

            <button type='submit' class='btn btn-success btn-xs'>Add Category</button>
        </form>
        <form action='/delete_tasks' method='post'>
            <button type='submit' class="btn btn-danger">>delete</button>
        </form>
        <p><a href='/'>Home</a></p>

    </center></body>
</html>
